<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".FiveCallsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.IssueActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
            </activity>
        <activity android:name=".controller.RepCallActivity"
            android:parentActivityName=".controller.IssueActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.IssueActivity" />
        </activity>
        <activity android:name=".controller.AboutActivity"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity android:name=".controller.TutorialActivity" />
        <activity android:name=".controller.SettingsActivity"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity android:name=".controller.LocationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".controller.StatsActivity"
            android:label="@string/stats_activity"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>

        <receiver
            android:name=".controller.NotifyBroadcastReceiver" />
        <receiver
            android:name=".controller.ResetAlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.a5calls.android.a5calls.file-provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Query for Android 11+ to find apps that can handle mailto Intents -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto" android:host="*" />
        </intent>
    </queries>

</manifest>